.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modes {
  display: flex;
}

.modes a {
  text-decoration: none;
  color: black;
}

.pvp-mode h4 {
  margin: auto;
}

.pvp-mode p {
  margin-top: 2em;
}
